name: "Lint check"

on:
  pull_request:
    branches: [ main, next, development ]
    types: [ opened, synchronize, reopened ]

jobs:
  lint-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Setup uv cache
        uses: actions/cache@v4
        with:
          path: |
            .venv/
          key: ${{ runner.os }}-uv-${{ hashFiles('uv.lock') }}
          restore-keys: ${{ runner.os }}-uv-

      - name: Setup UV
        uses: astral-sh/setup-uv@v7.2.0

      - name: Install dependencies
        working-directory: ./python
        run: uv sync

      - name: Run lint checks
        working-directory: ./python  
        run: uv run ruff check

      - name: Run Type checking
        working-directory: ./python  
        run: uv run ty check

      - name: Run tests
        working-directory: ./python  
        run: uv run pytest ./tests/
  
  lint-go:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ./go/go.mod
          cache: true

      - name: Run linter
        uses: golangci/golangci-lint-action@v8
        with:
          working-directory: ./go
          version: v2.5.0
