name: "Lint check"

on:
  pull_request:
    branches: [ main, next, development ]
    types: [ opened, synchronize, reopened ]

jobs:
  lint-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Cache UV dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/uv
            python/.venv
          key: ${{ runner.os }}-${{ runner.arch }}-uv-${{ hashFiles('python/uv.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-uv-

      - name: Setup UV
        uses: astral-sh/setup-uv@v7
        with:
          working-directory: ./python
          enable-cache: false
          cache-python: true

      - name: Install dependencies
        working-directory: ./python
        run: uv sync

      - name: Run lint checks
        working-directory: ./python  
        run: uv run ruff check

      - name: Run Type checking
        working-directory: ./python  
        run: uv run ty check

      - name: Run tests
        working-directory: ./python  
        run: uv run pytest ./tests/
  
  lint-go:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.5'
          cache-dependency-path: ./go/go.sum

      - name: Run linter
        uses: golangci/golangci-lint-action@v8
        with:
          working-directory: ./go
          version: v2.5.0
