name: "Deploy versions"

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  prechecks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Verify Tag Format
        id: verify_tag
        run: |
          if [[ ! "${GITHUB_REF}" =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Tag ${GITHUB_REF} does not match required format vX.Y.Z"
            exit 1
          fi
      
      - name: Check main branch
        id: check_branch
        run: |
          git fetch origin main

          if ! git merge-base --is-ancestor ${GITHUB_SHA} origin/main; then
            echo "Tag ${GITHUB_REF} is not based on the latest main branch"
            exit 1
          fi
  
  replicate-tags:
    needs: prechecks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Required to access tags

      - name: Create and push mirror tags
        env:
          TAG: ${{ github.ref_name }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          # Add other tag namespaces here
          for prefix in go python; do
            git tag "$prefix/$TAG"
            git push origin "$prefix/$TAG"
          done
  deploy-python:
    needs: prechecks
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Setup UV
        uses: astral-sh/setup-uv@v7.2.0

      - name: Get tag version
        id: get_version
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          CLEAN_VERSION=${TAG_NAME#v}
          echo "VERSION=$CLEAN_VERSION" >> $GITHUB_ENV

      - name: Copy README.md
        run: cp ./README.md ./python/README.md

      - name: Sed version
        working-directory: ./python
        run: |
          sed -i "s/^[[:blank:]]*version = \".*\"/version = \"$VERSION\"/" pyproject.toml

      - name: Install dependencies
        working-directory: ./python
        run: uv sync

      - name: Build
        working-directory: ./python
        run: uv run python -m build

      - name: Upload to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          packages-dir: ./python/dist

  create-release:
    needs: deploy-python
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
